.green{
    color: green;
    font-weight: bold;
    font-style: italic;
}

.red{
    color: red;
    font-weight: bold;
    font-style: italic;
}

.lightblue{
    color: lightblue;
    font-weight: bold;
    font-style: italic;
}
